* {
    /* border: solid red 1px; */
} 

body {
    background-color: rgb(255, 240, 240);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* main content */

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content > h1 {
    text-align: center;
}

/* Top bar */

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    border: solid black 1px;
    background-color: rgb(248, 214, 214);
}

.topbar > .logo {
    display: flex;
    overflow: hidden;
    margin: 35px 0 25px 25px;
    font-size: 1.5em;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border: solid black 1px;
    border-radius: 50%;
}

.topbar > .logo img {
    margin-left: -16px;
}

.topbar > .nav {
    display: flex;
    margin: 40px 25px 25px 0;
}

.nav-menu {
    display: none;
}