* {
    /* border: solid red 1px; */
} 

body {
    background-color: rgb(255, 250, 240);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

section {
    padding: 25px;
}

/* main content */

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content > h1 {
    text-align: center;
}

/* Top bar */

.top {
    padding: 0;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    border-bottom: solid rgb(235, 170, 170) 2px;
    background-color: rgb(248, 214, 214);
    padding: 0;
    margin: 0;
}

.topbar > .logo {
    display: flex;
    overflow: hidden;
    margin: 35px 0 25px 25px;
    font-size: 1.5em;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border: solid whitesmoke 2px;
    border-radius: 50%;
}

.topbar > .logo img {
    margin-left: -16px;
}

.topbar > .nav-menu > .nav {
    display: flex;
    margin: 40px 25px 25px 0;
}

/* Hamburger icon styling */
.topbar > .nav-menu > .nav:hover {
    background-color: #ddd;
}

/* nav menu links */
#nav-links {
    display:none;
}

/* Media query for larger screens */
@media screen and (min-width: 800px){
    section {
        padding: 50px;
    }
}