* {
    /* border: solid red; */
} 

body {
    background-color: rgb(235, 248, 252);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

section {
    padding: 25px;
}

/* main content */

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content > h1 {
    text-align: center;
}

/* Top bar */

.top {
    padding: 0;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    border-bottom: solid rgb(235, 170, 170) 2px;
    background-color: rgb(92, 197, 223);
}

.topbar > .logo {
    display: flex;
    overflow: hidden;
    margin: 35px 0 25px 25px;
    font-size: 1.5em;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border: solid whitesmoke 2px;
    border-radius: 50%;
}

/* Logo image orientation */
.topbar > .logo img {
    margin-left: -16px;
}

/* Hamburger icon styling */
.nav {
    display: block;
    position: relative;
    margin: 40px 15px 30px 15px;
    text-decoration: none;
    border: none;
    padding: 16px;
}

.nav:hover {
    background-color: #ddd;
}

/* nav menu links */

.nav-menu {
    display: none;
    width: 100%;
}

#nav-links {
    display: none;
    list-style-type: none;
    line-height: 3em;
    padding: 0 0 0 0;
}

#nav-links > li {
    display: block;
    position: relative;
    border: 2px solid black;
    text-align: center;
    background-color: white;
    width: 125%;
    margin-right: 50px;
}

#nav-links > li > a:link {
    color: inherit;
    text-decoration: none;
}

/* Media query for medium screens */
@media screen and (min-width: 800px){
    section {
        padding: 50px;
    }
}

/* Media query for large screens */
@media screen and (min-width: 1020px) {
    section {
        padding: 100px;
    }
}